* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1490px) {
  main {
    padding: 0;
  }
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

/* grid fyrir efni */

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.grid__row:nth-child(2n) .grid__col:first-child {
  order: 2;
}

@media (min-width: 1000px) {
  .grid__row {
    flex-direction: row;
  }

  .grid__col {
    margin-bottom: 40px;
    width: 50%;
  }

  .grid__row:nth-child(2n) .grid__col:first-child {
    order: 0;
  }
}

/* grid fyrir cards */

.cards {
  overflow: hidden;
}

.cards__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.cards__col {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .cards {
    margin-bottom: 40px;
  }

  .cards__col {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .cards__col {
    width: 33.3333333%;
  }
}

/* card kemur óbreytt úr verkefni 5 fyrir utan responsive stíla og height: 100% */

.card {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-width: 470px;
  max-height: 300px;
  overflow: hidden;

  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.card__title {
  margin-bottom: 20px;

  font-size: 1.375em;
  line-height: 1;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex: 2;
}

.card__text {
  font-size: 1em;
  line-height: 1.375;
  overflow: auto;
  word-break: break-word;
}

.card__image {
  padding-left: 20px;
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
}

.card__tags {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.card__tag {
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 699px) {
  .card {
    max-width: initial;
    max-height: initial;
    border: none;
    border-bottom: 2px solid #aaa;
    border-radius: 0;

    padding: 0;
    padding-bottom: 20px;
  }

  .card__content {
    flex-direction: column;
  }

  .card__text {
    margin-bottom: 20px;
  }

  .card__image {
    padding-left: 0;
  }
}
